
.btn-outline-success{
	color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
}

.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}


div {
	display: block;
}

.container2 {
    max-width: 960px;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.display-1 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.1;
}

.h2{
	font-size: 2rem;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; 
    max-width: 100%;
    padding-right: -100px;
    padding-left: 100px;
}

.ps-boxshadow {
    border: 1px solid #d3d3d3;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24), 0 1px 2px 0 rgba(0, 0, 0, 0.50);
}

.boxed {
    border-radius: 0;
    margin-right: 15px;
    margin-bottom: 15px;

}

.boxed.boxed--lg {
    padding: 25px;

}

#sidebar, .sidebar {
	float: right;
	overflow: hidden;
	width: 1000px;
}

.classic-img-div {
    

    width: 100%;
    overflow: hidden;
    border-left: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24), 0 1px 2px 0 rgba(0, 0, 0, 0.50);


 }


 .classic-text {
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24), 0 1px 2px 0 rgba(0, 0, 0, 0.50);
}


img {
	max-width: 100%;

}

.ps-radio-row {
	margin-bottom: 10px !important;/*to override theme styling*/
	display: flex;
	align-items: center;
}


.ps-radio-row > div > div > p {
	text-transform: uppercase;
}

.ps-radio-row-no-flex {
	margin-bottom: 10px !important;
}

.radio-wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.radio-wrap > div {
	margin-right: 5px;
}

.bg--dark {
	background: #050608;
}

.bg--dark:not(.nav-bar):not(.bar) h1, .bg--dark:not(.nav-bar):not(.bar) h2, .bg--dark:not(.nav-bar):not(.bar) h3, .bg--dark:not(.nav-bar):not(.bar) h4, .bg--dark:not(.nav-bar):not(.bar) h5, .bg--dark:not(.nav-bar):not(.bar) h6, .bg--dark:not(.nav-bar):not(.bar) i, .bg--dark:not(.nav-bar):not(.bar) span:not(.btn__text), .bg--dark:not(.nav-bar):not(.bar) p 
{
    color: #ffffff;
}

.bg--dark:not(.nav-bar):not(.bar) a:not(.btn) {
    color: #fff;
}

.type--uppercase {
    text-transform: uppercase;
}

.btn-white {
    background-color: #fff;
    border-color: #fff;
    color: #565151;
}

.btn {
	display: inline-block;
}

.fa-google-plus:before {
    content: "\f0d5";
}

/* This is for the google, instagram image*/
.fa-2x {
    font-size: 2em;
}

.fa {
    font: normal normal normal 50px/1 FontAwesome;
 }


footer {
    padding-top: 4em;
    padding-bottom: 2em;
}

footer.footer-6.bg--dark .footer__lower {
    background: #341BC7;
}

footer.footer-6 .footer__lower {
    background: #fafafa; 
    margin-top: 1.85714286em;
    padding: 1.85714286em 0;
}

/*copyright font size*/
.type--fine-print {
    font-size: 0.85714286em;
}

footer a.type--fine-print:not(:first-child) {
    margin-left: 1.85714286em;
}

/*Button to click and go back to top*/
.back-to-top {
    position: fixed;
    width: 3.71428571em;
    height: 3.71428571em;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    right: 4.5em;
    bottom: 5.5em;
    padding-top: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); 
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
    z-index: 99;
    border: 1px solid #ececec; 
    transition: 0.2s ease-out; 
    -webkit-transition: 0.2s ease-out;
}

.fa-angle-up:before {
    content: "\f106";
}



/*Alignment for logo - horizontal*/
.list-inline > li {
    display: inline-block;

}

/*Alignment for logo - spacing*/
.list-inline li:not(:last-child) {
    margin-right: 1.85714286em;
}

h4, .h4 {
    margin-bottom: 1.36842105263158em;

}

.cover{
    content: '';
    background-color: #e4e3e7;
    background-image: url(../img/az-subtle.png);
    
}

/*Remember me text alignmenet*/
.text-center {
    text-align: center;
}


.cta-h2 {
    font-family: 'Allerta Stencil', sans-serif;
    color: #ff0000;
    font-weight: 700;
}

.cta-sub-heading {
    font-family: 'Allerta Stencil', sans-serif;
    color: #341BC7;
}

section, footer {
    padding-top: 5.42857143em;
    padding-bottom: 5.42857143em;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

h2, .h2 {
    margin-bottom: 0.78787878787879em;
}

.lead:not(:last-child) {
    margin-bottom: 1.36842105263158em;
}

.location-btn-row > div > .location-uber, .location-btn-row > div > .location-taxi {
    position: relative;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    background: #b87333;
    text-transform: uppercase;
    color: #fff !important;
    padding: 10px 25px;
    font-size: 12px;
    transition: 0.1s all linear;
    margin-left: 5px;
}

.bg--tertiary {
    background: #cdcdcd;
}

element.style {
    background-color: #E4E3E7;
}

.col-sm-4, .col-sm-8, .col-sm-6, .col-sm-9, .col-sm-3 {
    float: left;
}



/*This section is for the page number at the end*/
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.label.label--inline {
    position: relative;
    top: 0;
    right: 0;
    padding-top: 10px;
}

.updated-daily {
    font-size: 14px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    height: 35px;
}

.label {
    display: inline-block;
    font-size: 9px;
    font-weight: 700;
    letter-spacing: .5px;
    color: #fff;
    text-transform: uppercase;
    height: 26px;
    min-width: 65px;
    padding: 0 10px;
    text-align: center;
    border-radius: 50px;
    position: absolute;
    z-index: 3;
    top: 1.23809524em;
    right: 1.23809524em;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.back-to-top:not(.active) {
    opacity: 1 !important;
    transform: translate3d(0, 20px, 0);
    -webkit-transform: translate3d(0, 20px, 0);
    pointer-events: none;
}